:root {
  --animeTop: 0;
  --surferTraceSize: 1;
  --animeHeight: 730px;
  --animeHeightRatio: 1;
  --sectionMargin: 400px;
  --headerHeight: 90px
}

#anime {
  z-index: -1;
  transform: translateY(calc(-50% - var(--sectionMargin)/4));
  top: calc(var(--animeTop));
  width: 100vw;
  height: var(--animeHeight);
}

@media screen and (max-width: 992px) {
  #anime {
    transform: translateY(calc(-50%));
  }
}

/* サーファー -------------------------------- */
#surferTrace1,
#surferTrace2 {
  position: relative;
  width: 100%;
  height: var(--animeHeight);
}

#surferTrace1 svg,
#surferTrace2 svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#surferTrace1 svg g,
#surferTrace2 svg g {
  transform-origin: center;
  transform: scale(1, var(--animeHeightRatio));
}

.surfer {
  width: 9vw;
  height: calc(9vw * 1.145);
  background: url("../img/background/surfer.svg") no-repeat;
  offset-rotate: auto -40deg;
  offset-path: polygon(0% 0%, 33.85% 0%, 70.31% 100%, 100% 100%);
  animation: surfer-move 10s linear infinite;
}

@media screen and (max-width: 768px) {
  .surfer {
    width: 17vw;
    height: calc(17vw * 1.145);
  }
}

@keyframes surfer-move {
  0% {
    offset-distance: 0%;
    transform: scale(0.5);
    opacity: 0;
  }

  1% {
    offset-distance: 0%;
    transform: scale(0.5);
    opacity: 1;
  }

  25% {
    transform: scale(0.7);
  }

  55% {
    transform: scale(0.7);
  }

  72% {
    transform: scale(1);
  }

  97% {
    offset-distance: 49%;
    opacity: 1;
  }

  99% {
    offset-distance: 50%;
    opacity: 0;
  }

  100% {
    offset-distance: 100%;
    transform: scale(1);
    opacity: 0;
  }
}

/* サーファー -------------------------------- */

/* 歩く女性 -------------------------------- */
.lady {
  width: 2.8vw;
  height: calc(2.8vw * 3.82);
  background: url("../img/background/lady.svg") no-repeat;
  offset-rotate: 0deg;
  offset-path: polygon(100% -400px, 22% calc(95% + 300px), 0% calc(100% + 400px));
  animation: lady-move 30s linear infinite;
}

@media screen and (max-width: 768px) {
  .lady {
    width: 4.5vw;
    height: calc(4.5vw * 3.82);
  }
}

@keyframes lady-move {
  0% {
    offset-distance: 0%;
    opacity: 0;
    transform: scale(0.6);
  }

  1% {
    opacity: 1;
  }

  35% {
    opacity: 1;
  }

  38% {
    opacity: 0;
  }

  67% {
    opacity: 0;
    transform: scale(1.2);
  }

  70% {
    opacity: 1;
  }

  97% {
    offset-distance: 49%;
    opacity: 1;
    transform: scale(1.2);
  }

  99% {
    offset-distance: 50%;
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    offset-distance: 100%;
  }
}

/* 歩く女性 -------------------------------- */


/* お茶を飲む女性 -------------------------------- */
.lady2 {
  width: 9vw;
  height: calc(9vw * 1.244);
  background: url("../img/background/lady2.svg") no-repeat;

  transform: translateY(30%);

  left: 20vw;
  bottom: -4vw;
}
@media screen and (max-width: 768px) {
  .lady2 {
    width: 16vw;
    height: calc(16vw * 1.244);
    left: 12vw;
  }
}

/* お茶を飲む女性 -------------------------------- */

/* 散策する男性と娘 -------------------------------- */
.gentleman {
  width: 2vw;
  height: calc(2vw * 4);
  background: url("../img/background/gentleman.svg") no-repeat;

  transform: translateY(-100%);

  left: 42vw;
  top: 2vw;
}

.child {
  width: 1.7vw;
  height: calc(1.7vw * 4);
  background: url("../img/background/child.svg") no-repeat;

  transform: translateY(-70%);

  left: 45.5vw;
  top: 2vw;
}

@media screen and (max-width: 768px) {
  .gentleman {
    width: 3.5vw;
    height: calc(3.5vw * 4);
  }
  
  .child {
    width: 3vw;
    height: calc(3vw * 4);
  }
}

/* 散策する男性と娘 -------------------------------- */