.slide-container,
.slide-container-reverse {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slide-wrapper {
  display: flex;
  animation: slide-flow 120s infinite linear 1s both;
}

@keyframes slide-flow {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.slide-wrapper-reverse {
  display: flex;
  animation: slide-flow-reverse 110s infinite linear 1s both;
}

@keyframes slide-flow-reverse {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.slide {
  width: 650px;
  height: 250px;
}

.slide img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1200px) {
  .slide {
    width: 558px;
  }
}

@media screen and (max-width: 992px) {
  .slide {
    width: 468px;
  }
}

@media screen and (max-width: 768px) {
  .slide {
    width: 100vw;
  }

  .slide-container-reverse {
    display: none;
  }

  .slide-wrapper {
    animation: slide-flow 100s infinite linear 1s both;
  }
}