/* ================================================= */
/* 茅ヶ崎カラー(HP仕様カラー　https://www.chigasaki-brand.jp/station/) */
/* ================================================= */
.col1 {
  background-color: #E9ECEF;
}

.col2 {
  background-color: #49ACDD;
}

.col3 {
  background-color: #72BFC6;
}

.col4 {
  background-color: #282828;
}

.col5 {
  background-color: #444444;
}

.col6 {
  background-color: #CCCCCC;
}

.col7 {
  background-color: #DDDDDD;
}

/* ================================================= */
body {
  width: 100%;
  font-family: 'Shippori Mincho', serif;
}

ul {
  list-style: none;
}

a {
  color: #282828;
  text-decoration: none;
}

.title-font {
  font-family: 'Cinzel', serif;
}

.appear {
  display: block;
  animation: appear-anim 0.8s linear;
}

@keyframes appear-anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.impress{
  transform:scale(1);
  transition: transform 0.6s;
}

.impress:hover{
  transform:scale(1.15);
}

/* ========================================================== */
/* 画面サイズ　***px未満 */
/* ========================================================== */
@media screen and (max-width: px) {}