.container-fluid {
    font-family: Noto Sans JP,ヒラギノ角ゴ Pro,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,MS Pゴシック,MS PGothic,sans-serif;
    font-size: 1rem;
    line-height: 1.75;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.b-privacy__item:not(:last-child) {
    border-bottom: 1px solid #dedbd5;
}