/* ========================================================== */
/* ベース
/* ========================================================== */
@font-face {
  font-family: 'futura';
  src: url('asset/fonts/unicode.futurab.ttf') format('ttf');
}

body {
  width: 100%;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  background-color: #f5f5f5;
  /* color: #24b5f5; */
  color: #0a3f70;
}

section {
  margin-top: var(--sectionMargin);
}

footer {
  margin-top: 120px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
}

.title-font {
  font-family: 'futura', serif;
}

.title-fs {
  font-weight: 900;
  line-height: calc(90px * 0.583);
  font-size: 90px;
}

.title-fs-sub {
  font-weight: 700;
  font-size: calc(90px * 0.25);
}

@media screen and (max-width: 1200px) {
  .title-fs {
    line-height: calc(70px * 0.583);
    font-size: 70px;
  }

  .title-fs-sub {
    font-size: calc(70px * 0.25);
  }
}

@media screen and (max-width: 576px) {
  .title-fs {
    line-height: calc(60px * 0.583);
    font-size: 60px;
  }

  .title-fs-sub {
    font-size: calc(60px * 0.25);
  }
}

/* ナビ -------------------------------------------- */
header {
  z-index: 100;
}

.nav-bar {
  /* background-color: #24b5f5; */
  /* color: #f5f5f5; */
  background-color: #f5f5f5;
  color: #24b5f5;
}

.nav-bar ul li {
  height: 100px;
}

.nav-bar ul li:nth-child(1),
.nav-bar ul li:nth-child(2),
.nav-bar ul li:nth-child(3) {
  width: 150px;
}

.nav-bar ul li:nth-child(4),
.nav-bar ul li:nth-child(5),
.nav-bar ul li:nth-child(6) {
  width: 100px;
}

#menu-collapse {
  width: 400px;
  background: #ffffff;
}

@media screen and (max-width: 1200px) {
  .nav-bar ul li {
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar {
    width: 100%;
    padding: 0;
  }

  .nav-bar ul li:nth-child(1),
  .nav-bar ul li:nth-child(2),
  .nav-bar ul li:nth-child(3) {
    width: calc(60% / 3);
  }

  .nav-bar ul li:nth-child(4),
  .nav-bar ul li:nth-child(5),
  .nav-bar ul li:nth-child(6) {
    width: calc(40% / 3);
  }
}

@media screen and (max-width: 576px) {
  .nav-bar {
    width: 160px;
  }

  .nav-bar ul li:nth-child(5),
  .nav-bar ul li:nth-child(6) {
    width: calc(100% / 2);
  }

  .dropdown-menu li {
    text-align: center !important;
    width: 100% !important;
    height: 40px !important;
  }

  #menu-collapse {
    width: 96%;
    margin: 0 auto;
  }

}

.HPname {
  color: #24b5f5;
  height: var(--headerHeight);
}

/* ナビ -------------------------------------------- */

/* フッター  -------------------------------------------- */
footer {
  color: #f5f5f5;
  height: 350px;
}

.fuji {
  height: 100%;
  top: 0;
  width: auto;
  left: 80%;
  transform: translateX(-50%);
}

@media screen and (max-width: 992px) {
  footer {
    height: 320px;
  }
}

@media screen and (max-width: 576px) {
  footer {
    height: 250px;
  }
}

/* フッター  -------------------------------------------- */

/* TOP --------------------------------- */
#top {
  height: calc(100vh - 120px);
}

#fsv {
  background-image: url(../img/top/top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.fsv-title {
  width: 760px;
  bottom: 160px;
  transform: translateX(100px);
}

.fsv-subtitle1 {
  width: 100%;
  margin: 0;
}

.fsv-subtitle1 .clip-text {
  margin: 0;
  text-align: center;
}

.fsv-subtitle1 .clip-text p {
  font-weight: bolder;
  font-size: calc((2.6667vw + 24px) * 0.5);
}

.fsv-subtitle4 p {
  margin: 0;
  color: #f5f5f5;
  text-shadow: #393939 0 1px 5px;
  text-align: start;
  font-weight: bold;
  font-size: calc((2.6667vw + 24px)* 0.375);
}

.fsv-subtitle2 {
  text-align: center;
}

.fsv-subtitle2 p {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  /* font-size: 5.5rem; */
  font-size: calc(2.6667vw + 24px);
}

.fsv-subtitle3 {
  margin-left: 24rem;
}

.fsv-subtitle3 p {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: calc((2.6667vw + 24px) * 0.6);
}

@media screen and (max-width: 1400px) {
  .fsv-title {
    bottom: 80px;
    transform: translateX(60px);
  }

  .fsv-subtitle3 {
    margin-left: 16rem;
  }
}

@media screen and (max-width: 1200px) {
  .fsv-title {
    width: 550px;
    bottom: 80px;
    transform: translateX(40px);
  }

  .fsv-subtitle3 {
    margin-left: 16rem;
  }
}

@media screen and (max-width: 992px) {
  #fsv {
    background-position: center bottom;
  }

  .fsv-title {
    transform: translateX(-50%);
    width: 550px;
    left: 50%;
    top: 30%;
  }
}

@media screen and (max-width: 768px) {
  .fsv-title {
    width: auto;
  }

  .fsv-subtitle3 {
    margin-left: 14rem;
  }
}

@media screen and (max-width: 576px) {
  .fsv-subtitle3 {
    margin-left: 11rem;
  }
}

@media screen and (max-width: 375px) {
  .fsv-title {
    width: 80%;
  }

  .fsv-subtitle3 {
    margin-left: 5rem;
  }

}

/* TOP --------------------------------- */

/* ABOUT ---------------------------------*/
.title-about {
  z-index: 10;
  top: -3.5rem;
  left: -2.5rem;
}

.title-about::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: -50%;
  left: 20%;
  width: calc(90px * 2.11);
  height: calc(90px * 2.11);
  transform: rotate(45deg);
  background-color: #ffffff;
}

@media screen and (max-width: 1400px) {
  .title-about {
    left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .title-about {
    top: -2.5rem;
  }

  .title-about::after {
    width: calc(70px * 2.11);
    height: calc(70px * 2.11);
  }
}

@media screen and (max-width: 576px) {
  .title-about {
    top: -2rem;
  }

  .title-about::after {
    width: calc(60px * 2.11);
    height: calc(60px * 2.11);
  }
}

/* ABOUT ---------------------------------*/

/* 出品者様募集 ---------------------------------*/
.title-recruit {
  z-index: 10;
  top: -4.5rem;
  right: -3.5rem;
}

.title-recruit .title-fs-sub {
  margin-right: -1rem;
}

.title-recruit::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: -50%;
  right: 5%;
  width: calc(90px * 2.11);
  height: calc(90px * 2.11);
  transform: rotate(45deg);
  background-color: #ffffff;
}

@media screen and (max-width: 1400px) {
  .title-recruit {
    top: -4rem;
    right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .title-recruit {
    top: -3rem;
    right: -1rem;
  }

  .title-recruit::after {
    width: calc(70px * 2.11);
    height: calc(70px * 2.11);
  }
}

@media screen and (max-width: 576px) {
  .title-recruit {
    top: -2.75rem;
    right: 0;
  }

  .title-recruit .title-fs-sub {
    margin-right: 0;
  }

  .title-recruit::after {
    width: calc(60px * 2.11);
    height: calc(60px * 2.11);
  }
}

#recruit {
  height: 780px;
}

.recruit-img {
  position: absolute;
  z-index: 0;
  width: 890px;
  top: 0;
  right: 0;
}

.recruit-img-outer {
  height: 586px;
}

.recruit-img-inner {
  z-index: 5;
  width: calc(890px - 60px);
  height: calc(586px - 34px);
  background-image: url(../img/recruit/image.jpg);
  background-size: cover;
  background-position: 70% 50%;
  border-radius: 15px;
}

.recruit-img-frm1 {
  width: calc(890px - 30px);
  height: calc(586px - 17px);
  background-color: #05b9d7;
  border-radius: 25px;
}

.recruit-img-frm2 {
  width: calc(890px - 30px);
  height: calc(586px - 17px);
  background-color: #c7e4ee;
  border-radius: 25px;
}

.recruit-comment {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 580px;
  height: 610px;
  background-color: #ffffff;
}

.recruit-comment-inner {
  padding: 100px 0;
  font-size: 1.25rem;
}

.recruit-comment-title {
  top: -20px;
  left: -40px;
  background-color: #fff338;
  padding: 1rem 3rem;
  transform: rotate(-8.3deg);
}

@media screen and (max-width: 1200px) {
  .recruit-img {
    position: relative;
    margin: 0 auto;
  }

  #recruit {
    height: auto;
  }

  .recruit-comment {
    position: relative;
    height: auto;
    margin: -80px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .recruit-img {
    width: 96%;
  }

  .recruit-img-outer {
    height: 45vh;
  }

  .recruit-img-inner {
    width: calc(96% - 60px);
    height: calc(45vh - 34px);
    background-position: 70% 50%;
  }

  .recruit-img-frm1 {
    width: calc(96% - 30px);
    height: calc(45vh - 17px);
  }

  .recruit-img-frm2 {
    width: calc(96% - 30px);
    height: calc(45vh - 17px);
  }

  .recruit-comment {
    margin-top: 0;
    width: 96%;
  }

  .recruit-comment-title {
    top: -20px;
    left: -25px;
    padding: 1rem 3rem;
    transform: rotate(-8.3deg);
  }

  .recruit-comment-inner {
    padding: 60px 0;
  }
}

@media screen and (max-width: 375px) {
  .recruit-comment-title {
    top: -10px;
    left: 45px;
    padding: 0.5rem 2rem;
    transform: rotate(0deg);
  }

  .recruit-comment-inner {
    font-size: 1rem;
  }
}

/* 出品者様募集 ---------------------------------*/


/* 効果：ホバー時に拡大 ---------------------------------*/
.impress {
  transform: scale(1);
  transition: transform 0.6s;
}

.impress:hover {
  transform: scale(1.15);
}

/* 効果：ホバー時に拡大 ---------------------------------*/

/* 効果：タイトル出現時に左に詰めてから表示 ---------------------------------*/
.effect-inner-container {
  opacity: 0;
}

.effect-inner-container.appear {
  animation: title-effect-anime 1s ease-out 0s forwards;
}

.effect-inner {
  background-size: 15000% 100%;
}

.effect-inner.appear {
  animation-delay: 0s;
  animation-duration: 1.5s;
}

@keyframes title-effect-anime {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }

  40% {
    transform: translateX(-4px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeIn {
  opacity: 0;
}

.fadeIn.appear {
  animation-name: fadeInAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* 効果：タイトル出現時に左に詰めてから表示 ---------------------------------*/


/* ========================================================== */
/* 画面サイズ　***px未満 */
/* ========================================================== */
@media screen and (max-width: px) {}