/* スライドの動き等速 */
.swiper-wrapper {
  transition-timing-function: linear;
}

/* ニュースバーの設定 */
.bar-side {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background-color: #24b5f5;
  color: #f5f5f5;
  padding: 0 0.5rem;
  text-align: center;
  line-height: 1.25rem;
}

@media screen and (max-width: 1200px) {
  .bar-side {
    width: 110px;
    font-size: 13px;
    padding: 0;
  }
}

@media screen and (max-width: 991px) {

  .bar-side,
  .swiper_newsbar {
    height: 100px !important;
  }
}

@media screen and (max-width: 576px) {

  .bar-side {
    width: 55px !important;
  }
}

.swiper_newsbar {
  z-index: 0;
  height: 50px;
  overflow: hidden;
}

.swiper_newsbar_title {
  border-right: solid 2px #24B5F5;
  margin-top: 13px;
}

@media screen and (max-width: 991px) {
  .swiper_newsbar_title {
    border-right: none !important;
  }
}


/* SNS instagramの設定 */
/* スライドの動き等速 */
.size_swiper_sns {
  height: 240px;
}

.swiper_sns_container {
  height: calc(240px + 3rem);
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #f5f5f5;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  margin-top: -3rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1rem !important;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .size_swiper_sns {
    height: 210px;
  }

  .swiper_sns_container {
    height: calc(210px + 3rem);
  }
}

@media screen and (max-width: 576px) {
  .size_swiper_sns {
    height: 240px;
  }

  .swiper_sns_container {
    height: calc(240px + 3rem);
  }
}

@media screen and (max-width: 375px) {
  .size_swiper_sns {
    height: 160px;
  }

  .swiper_sns_container {
    height: calc(160px + 3rem);
  }
}

/* SNS instagramの設定 */