.clip-text {
  position: relative;
  display: inline-block;
  margin: .5em;
  color: #393939;
  /* border: solid 1px #ffffff; */
  border-radius: 0.5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-shadow: #393939 0px 1px 1px;
}

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: '';
}

.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  background-size: cover;
  -webkit-animation: anim 6s infinite ease-in;
  -moz-animation: anim 6s infinite ease-in;
  -ms-animation: anim 6s infinite ease-in;
  animation: anim 6s infinite ease-in;
}

.clip-text:after {
  position: absolute;
  z-index: -1;
  top: .125em;
  right: .125em;
  bottom: .125em;
  left: .125em;
  border-radius: 0.35rem;
  /* background-color: #A5D5E3; */
  background-image: url(../img/top/image2.jpg);
  /* background-size: cover; */
  background-position: left top;
}

.clip-text_one {
  background-image: url(../img/top/image2.jpg);
  background-size: 125%;
  background-position: left top;
  -webkit-animation: anim 6s infinite ease-in-out;
  -moz-animation: anim 6s infinite ease-in-out;
  -ms-animation: anim 6s infinite ease-in-out;
  animation: anim 6s infinite ease-in-out;
}

@-webkit-keyframes anim {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

@-moz-keyframes anim {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

@-ms-keyframes anim {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

@keyframes anim {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}