footer{
    background-color: #E98920;
    padding:20px;
}
.promoter-wrap{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:0 3%;
}
.promoter-wrap img{
    margin: 10px 0;
    max-width: 565px;
}
@media screen and (max-width:630px) {
    /* スクリーンサイズが63px以下の場合に適用 */
    .promoter-wrap :nth-child(-n+2){
        width:90%;
    }
}
.join-terms{
    margin-top:20px;
    border-top: 2px solid #fff;
}
.join-terms p{
    color:#fff;
}
.bold{
    font-weight: bold;
}
.join-terms p span{
    color:#fff000;
}
.footer small{
    text-align: center;
    width:100%;
    padding:5px 0;
    color:rgba(255, 255, 255, 0.80);
    background-color: #000;
}
.dummy_text{
    opacity: 0;
}