/* ================================================= */
/* 茅ヶ崎カラー(HP仕様カラー　https://www.chigasaki-brand.jp/station/) */
/* ================================================= */
.col1 {
  background-color: #E9ECEF;
}

.col2 {
  background-color: #49ACDD;
}

.col3 {
  background-color: #72BFC6;
}

.col4 {
  background-color: #282828;
}

.col5 {
  background-color: #444444;
}

.col6 {
  background-color: #CCCCCC;
}

.col7 {
  background-color: #DDDDDD;
}

/* ================================================= */
body {
  width: 100%;
  font-family: 'Shippori Mincho', serif;
}

ul {
  list-style: none;
}

a {
  color: #282828;
  text-decoration: none;
}

header {
  z-index: 1;
}

/* ========================================================== */
/* 画面サイズ　***px未満 */
/* ========================================================== */
@media screen and (max-width: px) {
  

}